main{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 10%;
}

.profile-container{
    background-color: white;
    box-shadow: 0px 1px 50px rgb(0, 0, 0, 0.1 );
    width: 50em;
    height: 25em;
    border-radius: 30px;
  }
  
.profile-cover{
  height: 35%;
  background-image: url("../assets/cover.jpg");
  background-size: cover;
  border-radius: 30px 30px 0 0;
}

.profile-picture{
  width: 70px;
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
}

.profile-info{
  margin-top: -2em;
  padding: 2em 2em 0 10em;
  color: var(--color-primary-text);
}

.profile-btn{
  margin: 6em 0 2em 5em;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  width: 50%;
  margin-bottom: 10px;
  transition: all 0.25s ease-in-out;
}

.profile-btn:hover {
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
}

#profile-mbti {
  padding-top: 1em;
  font-weight: 800;
  font-size: var(--fsize-b);
  color: var(--color-yellow);
}

#profile-name {
  font-size: var(--fsize-m);
}

#profile-email {
  font-size: var(--fsize-xs);
  opacity: 0.6;
}