* {
    border: 0 solid transparent;
}

.sp-radio input[type=radio] {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 5rem;

    & button {
        display: inline-block;
        border-radius: 4px;
        background-color: var(--color-main);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 1rem;
        padding: 16px;
        width: 10em;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    button span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -15px;
        transition: 0.5s;
    }

    button:hover span {
        padding-right: 15px;
    }

    button:hover span:after {
        opacity: 1;
        right: 0;
    }
}

.action-row {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

fieldset {
    padding: 0 0 20px;
    border-bottom: 1px solid #dddfe2;
    transition: opacity .5s ease-in-out;
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .group_options {
        padding: 3em 0 3em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 55em;
        /* For responsive web app */
        /* flex-wrap: wrap; */
    }

    & .question {
        font-size: 1.4em;
        text-align: center;
        padding-top: 2em;
    }

    & .agree {
        color: var(--color-agree);
        font-size: var(--fsize-m);
    }
    
    & .disagree {
        color: var(--color-disagree);
        font-size: var(--fsize-m);
    }

    & .agree, .disagree {
        width: 5em;
        padding: 0 2em 0 2em;
        /* padding-top: 5em; */
    }

    & #radios {
        position: relative;
        /* width: 40%; */
        width: 40em;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        /* justify-content: space-between; */
    }

    & .container {
        display: block;
        position: relative;
        cursor: pointer;
        user-select: none;
        padding-top: 3em;
    }
    
    & .chosen {
        position: absolute;
        top: 0;
        left: 0;
        height: 3em;
        width: 3em;
        background-color: #ffffff;
        border-radius: 50%;
        border: 0.5px solid var(--color-yellow);
    }

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: auto;
        padding: 0 5em 0 5em;
    }

    .container:hover input~.chosen {
        background-color: var(--color-yellow);
        opacity: 0.4;
        
    }

    .container input:checked~.chosen {
        background-color: var(--color-yellow);
    }

    .container input:checked~.chosen:after {
        display: block;
    }

    & .neutral {
        width: 2em;
        height: 2em;
        margin: 0.5em 0 0 0.4em;
    }

    & .slight {
        width: 2.5em;
        height: 2.5em;
        margin: 0.35em 0 0 0.1em;
    }
    & .more {
        width: 3em;
        height: 3em;
        margin: 0.2em 0 0 0;
    }
    & .very {
        width: 3.5em;
        height: 3.5em;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}

.cardWrapper {
    padding-top: 8em;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
}

.notificationCard {
    display: none;
    width: 220px;
    height: 280px;
    background: rgb(245, 245, 245);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    gap: 10px;
    /* Broken with skeleton header */
    /* margin-top: 40%; */
    /* margin-left: 45%; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    z-index: 100000000000;

    & #results-display {
        font-size: 1.75em;
    }
}

.bellIcon {
    width: 1em;
    margin: 20px 0px;
}

.bellIcon path {
    fill: var(--color-main)
}

.notificationHeading {
    color: black;
    font-weight: 600;
    font-size: 0.8em;
}

.notificationPara {
    color: rgb(88, 65, 65);
    font-size: 0.6em;
    font-weight: 600;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.AllowBtn {
    width: 10em;
    height: 3em;
    background-color: var(--color-disagree);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 0.7em;
    font-weight: 600;
    cursor: pointer;
}

.NotnowBtn {
    width: 10em;
    height: 3em;
    color: rgb(168, 131, 255);
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 20px;
}

.NotnowBtn:hover {
    background-color: rgb(239, 227, 255);
}

.AllowBtn:hover {
    background-color: rgb(153, 110, 255);
}