main{
    margin: 0 20%;
    padding-top: 7rem;
}

.search{
    width: 58%;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid rgb(0, 0, 0,0.5);
    border-radius: 1000px;
    margin-bottom: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.posts{
    grid-column-start: 1;
    grid-column-end: 8;
}
aside{
    grid-column-start: 9;
    grid-column-end: 13;

    & section{
        margin-bottom: 3em;
    }
}
.card{
    width: 100%;
    padding: 20px;
}

section ul{
    padding: 1em 2em;

    & li{
        list-style-type: none;
        margin-bottom: 10px;
    }
}

.pfp{
    width: 1.7em;
    height: 1.7em;
    border-radius: 100%;
    object-fit: cover;
}

.psp{
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.75em;
    margin: 5px 0;
}
.author{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}
.reactions{
    display: flex;
    gap: 5px;
}
.like{
    width: 20px;
    height: 20px;
}
#your-groups li a, #rec-groups li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#your-groups li, #rec-groups li{
    background-color: rgb(0, 0, 0, 0.05);
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
#your-groups li:hover, #rec-groups li:hover{
    background-color: rgb(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1023px){
    main{
        margin: 0 5%;
        padding-top: 7rem;
    }
    .posts{
        grid-column-start: 1;
        grid-column-end: 9;
    }
    aside{
        grid-column-start: 10;
        grid-column-end: 13;
    
        & section{
            margin-bottom: 3em;
        }
    }
}
@media screen and (max-width: 767px) {
    
    main{
        margin: 0 8%;
        padding-top: 7rem;
    }
    aside{
        display: none;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}