header{
    display: flex;
    justify-content: center;
    background-color: var(--color-card-bg);
    box-shadow: 0 5px 25px rgb(0, 0, 0, 0.0);
    align-items: center;
    height: 4em;
    border: var(--border-card);
    
    & nav{
        & ul{
            display: flex;
            align-items: center;

            & li{
                list-style-type: none;
                margin-right: 5em;

                & a{
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                }
            }

            & li.last{
                margin-right: 0;
            }

            & li.active{
                background-color: rgba(112, 151, 116, 0.74);
                padding: 8px 15px;
                border-radius: 8px;
            }
        }
    }
}