body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent horizontal scrollbar in some cases */
}
.hero {
    padding: 0 220px;
    background-image: url("/assets/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    & .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8rem;

        & .info{
            font-size: 1.6rem;
        }

        & img{
            width: 25rem;
        }
    }
}
