main{
    margin: 50px 20%;
}


.card{
    /* background-color: var(--color-card-bg);
    border: var(--border-card);
    border-radius: var(--border-rad);
    margin-top: 1em;
    box-shadow: var(--shadow-card); */

    & .left{
        width: 50%;
    }
}

section{
    margin-bottom: 50px;
}

.first-card .card{
    display: flex;
    align-items: center;
    padding: 30px 60px;
    justify-content: space-between;

    & img{
        width: 100px;
    }
}


.second-card .card{
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    align-items: center;

    & .big{
        width: 25%;
        height: 100%;
        margin-right: 10%;
    }
}

@media(max-width:768px) {
    .second-card .card .big{
        display: none;
    }
}


.left h1, .right p{
    margin-bottom: 20px;
}

main h1{
    font-size: 2vw;
}


.category{
    display: flex;
    width: 100%;
}
ul.tests{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    
    & li{
        list-style-type: none;
        color: black;
        background-color: var(--color-main-bg);
        font-weight: 700;
        padding: 10px 10px;
        border-radius: 10px;
        font-size: 0.8em;
        border: var(--border-card);
        cursor: pointer;

        & div{
            display: flex;
            align-items: center;

            & p{
                margin: 0;
                display: inline;
            }
        }
    }
    & li.active{
        background-color: var(--color-main);
        & .icon{
            background-color: black;
            color: white;
            border-radius: 5px;
            margin-right: 10px;
            width: 25px;
            height: 25px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            & .enne{
                fill: white;
            }
        }
    }
    & li.last{
        list-style-type: none;
        margin-right: 0;
    }
}

.icon{
    background-color: var(--color-main);
    color: black;
    border-radius: 5px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

div.icon img{
    width: 80%;
}

.right h2{
    margin-bottom: 18px;
}

.ina{
    display: none;
}
.act{
    display: block;
}