@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--color-main-bg);
}

:root{
    --color-main: #67B26F;
    --color-yellow: #EAB142;
    --color-red: #FF6B6B;
    --color-main-bg: #FFFFFF;
    --color-card-bg: #FFFFFF;

    --fsize-m: 1.5em;
    --fsize-b: 1.75em;
    --fsize-s: 1.25em;

    --border-card: 1px solid rgb(0,0,0,0.10);
    --border-rad: 15px;

    --shadow-card: 0px 5px 10px rgba(0, 0, 0, 0.03);

    --card-stroke: #00000026;
    --card-background: #FFFFFF;
}

h1{
    font-size: var(--fsize-b);
}
h2{
    font-size: var(--fsize-m);
}
h3{
    font-size: var(--fsize-s);
}

button.green{
    background-color: var(--color-main);
}

button{
    border: 0;
    padding: 8px 15px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 5px;
    border: var(--border-card);
    cursor: pointer;
}

.card{
    display: inline-block;
    background-color: var(--color-card-bg);
    border: var(--border-card);
    border-radius: var(--border-rad);
    margin-top: 1em;
    box-shadow: var(--shadow-card);
}

@media(max-width:768px){
    button{
        font-size: 0.9em;
        padding: 8px 10px;
    }
}